<!DOCTYPE html>
<html lang="en" ng-app="DishsApp">
  <head>
  <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <title>Lunch Checker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
<body ng-app="DishsApp">
   <div class="container" ng-controller="DishController">
   <h1>Enter Your Lunch</h1>
         <div class="form-group">
             <input id="lunch-menu" type="text" class="form-control" ng-model="names"  maxlength="55">
         </div>
		 <br>
         <div class="form-group">
             <button class="btn btn-default" ng-click="CheckIfTooMuch()">Check If Too Much</button>
         </div>

          <div ng-show="!empty && checked" class="alert alert-success">{{message}}</div>
          <div ng-show="empty" class="alert alert-danger">Please enter data
          </div>
         </div>


</body>
</html>
